# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# dotenv
.env
.env.*  # ignore all .env files like .env.development

# Dependency directories
node_modules/
backend/node_modules/
frontend/node_modules/

# Build output
dist/
build/

# Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# System
*.swp
*.lock

# Uploads / static files
backend/public/uploads/

# Optional caches
.cache/
.next/
out/
coverage/
